@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a tag</h4>

<h3>@Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    @Html.Label("Select tag")
    @Html.DropDownList("TagId")

    <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to recipe list", "Index")</p>