@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model List<RecipeBox.Models.Recipe>;

<h4>@User.Identity.Name's Recipes</h4>
<hr>

@if (@Model.Count == 0)
{
  <h3>No recipes have been added yet!</h3>
}
else
{
  @using (Html.BeginForm())
  {
    <p>
      @Html.TextBox("SearchString")  
      <input type="submit" value="Search">
    </p>
  }
  <div class="table-responsive">
    <table class="table">
      <thread>
        <tr>
        <th>
          @Html.ActionLink("Name", "Index", new { sort = ViewBag.NameSortParm })
        </th>
        <th>
          @Html.ActionLink("Rating", "Index", new { sort = ViewBag.RatingSortParm })
        </th>
        <th class="ms-1">
          Ingredients
        </th>
        <th></th>
      </tr>
      </thread>
      
      <tbody>
        @foreach (Recipe recipe in Model)
        {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => recipe.Name)
          </td>
          <td>
            @Html.DisplayFor(modelItem => recipe.Rating)/10
          </td>
          <td>
            @Html.DisplayFor(modelItem => recipe.Ingredients)
          </td>
          <td class = "text-nowrap">
            @Html.ActionLink("Edit", "Edit", new { id= recipe.RecipeId }) |
            @Html.ActionLink("Details", "Details", new { id= recipe.RecipeId }) |
            @Html.ActionLink("Delete", "Delete", new { id= recipe.RecipeId })
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
}

<p>@Html.ActionLink("Add new recipe", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>